%block {
    background-color: lightgreen;
    // border: 2px dotted green;
    padding: 10px;
    margin:  5px;
    text-align: center;
    width: 100%;
}

%hover {
    opacity: 75%;
    background-color: green;
    // color: white
}

body {
    background-color: lightgreen;
    display: flex;
    flex-flow: wrap;
    width: 95%;
}

h1, h2 {
    @extend %block;
    width: 100%
}
h3 {
    text-align: left;
}
.error-message {
    background-color: red;
    border:  2px dotted black;
}

.content {
    @extend %block;
    width: 70%;
    overflow-wrap: break-word;
    word-wrap: break-word;

    a {
        color: red;
    }
}

.typing {
    @extend %block;
    width: 20%;
}

.links {
    @extend %block;
    margin: auto;
    padding: 5px;

}


a {
    margin: 20px;
    text-decoration: none;
    color: green;
}

a::before {
    content: "[ ";
}

a::after {
    content: " ]";
}

a:hover {
    @extend  %hover;
}

ul {
    list-style: none;

    li {
        background-color: green;
        text-align: left;
        padding: 5px;
        margin: 10px;
        border: 1px dashed green;
        display: flex;
        flex-flow: column;
    }

    li:hover {
        @extend %hover;

        a {
            color: white;
        }
    }
}


textarea  {
    border: 2px dotted green;
    resize: none;
    width: 100%;
    padding: 5px;
}

.note-header {
    background-color: lighblue;
    margin: 10px;
}

.note-content  {
    white-space: pre-wrap;
    border: 1px dotted green;
    background-color: lightgreen;
}
